body {
  background-color: #e6fffa;
}
.App{
width : 80%;

margin:auto;
}
.job-card {
  display: flex;
  box-shadow: 5px 4px 6px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  height: 120px;
  align-items: center;
}
.job-filter-card{
   display: flex;
  box-shadow: 5px 4px 6px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  height: 60px;
  align-items: center;
  
}
.job-filter-card-tag{
   font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  color: #38b2ac;
  background-color: #e6fffa;
  cursor:pointer;
}
.job-card-featured {
  border-width: 0 0 0 4px;
  border-color: #38b2ac;
  border-style: solid;
}
.job-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  margin-left: 30px;
}
.job-company {
  font-weight: bold;
  color: #38b2ac;
  margin: 0.5rem;
}
.job-position {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0.5rem;
}
.job-other-details {
  color: #4a5568;
  margin: 0.5rem;
}
.tags{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.lang {
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  color: #38b2ac;
  background-color: #e6fffa;
  cursor:pointer;
}

.header-img {
  background-color: #38b2ac;
  margin-bottom: 4rem;
}
.new {
  font-weight: bold;
  margin: 0 0.2rem 0 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
  color: #fff;
  background-color: #38b2ac;
}
.featured {
  font-weight: bold;

  margin-left: 0 0.2rem 0 0.2rem;
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
  color: #fff;
  background-color: #1a202c;
}
