body {
  background-color: #e6fffa;
}
.App {
}
.job-card {
  display: flex;
  box-shadow: 5px 4px 6px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
}

.job-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
}
.job-company {
  font-weight: bold;
  color: #38b2ac;
}
.job-position {
  font-weight: bold;
  font-size: 1.25rem;
}
.job-other-details {
  color: #4a5568;
}
.lang-and-tools {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.lang {
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  color: #38b2ac;
  background-color: #e6fffa;
}
.tool {
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  color: #38b2ac;
  background-color: #e6fffa;
}
